<main>
  <section>
    <div class="profile-picture">
      <!-- Insert your profile picture here -->
      <!-- Replace the src attribute with the URL of your profile picture -->
      <!-- <img src="path/to/your/profile-picture.jpg" alt="Profile Picture"> -->
    </div>
    <div class="profile-info">
      <!-- Replace the placeholder text with your actual profile information -->
      <h1>Imię: {{userFullName}}</h1>
      <h2>Email: {{userEmail}}</h2>
      <h2>Kontakt: {{userContact}}</h2>
      <ul>
        <li>zmień hasło</li>
        <li>usuń konto</li>
      </ul>
    </div>
  </section>
</main>


<!--TODO-->
