<header>
  <div class="logo">
    <img src="../assets/logo.png" alt="Logo" (click)="NavigateDashboard()">
  </div>

  <div class="login-register">
    <ng-template [ngIf]="authService.isLoggedIn" [ngIfElse]="elseLog">
      <button (click)="LogOut()">Wyloguj się</button>
      <button (click)="NavigateUserPanel()">Panel użytkownika</button>
    </ng-template>
    <ng-template #elseLog>
      <button (click)="NavigateLogin()">Login</button>
      <button (click)="NavigateRegister()">Rejestracja</button>
    </ng-template>
  </div>
</header>
