<main>
  <div class="account-section">
    <div class="account-picture">
      <img src="path/to/Profile_Pic.jpg" alt="Profile Pic" class="profile-picture">
    </div>
    <div class="account-details">
      <h1>Name Surname</h1>
      <form class="account-form">
        <label for="prev-password">Previous password:</label>
        <input type="password" id="prev-password" placeholder="Enter previous password" required>
        <label for="new-password">New password:</label>
        <input type="password" id="new-password" placeholder="Enter new password" required>
        <label for="repeat-new-password">Repeat new password:</label>
        <input type="password" id="repeat-new-password" placeholder="Repeat new password" required>
        <button class="save-button">Save it</button>
      </form>
    </div>
  </div>
</main>

<!--TODO-->
