<main>
  <section class="left-section">
    <div class="group-info">
      <h2 class="course-title">Tytuł kursu</h2>
    </div>
    <h3 class="available-modules">Dostępne moduły</h3>
    <ul class="list">
      <li class="list-item-subsection">Ti11AbcDE</li>
    </ul>
    <ul class="list">
      <li class="list-item-subsection">
        <div class="picture-section">
          <p>Kurs1</p>

        </div>
        <div class="picture-section">
          <p>Kurs2</p>

        </div>
        <div class="picture-section">
          <p>Kurs3</p>

        </div>
        <div class="picture-section">
          <p>Kurs4</p>

        </div>
        <div class="picture-section">
          <p>Kurs5</p>

        </div>
        <div class="picture-section">
          <p>Kurs6</p>

        </div>
      </li>
    </ul>
  </section>
</main>

<!--TODO-->
