<main>
  <section>
    <div class="section-title">
      <h2>Moje grupy</h2>
    </div>
    <div class="section-content">
      <ul>
        <li>Teleinf</li>
        <li>Ti1.1</li>
        <li>Angielski 3 sem</li>
      </ul>
    </div>
    <div class="section-button">
      <button>Button 1</button>
    </div>
  </section>

  <section>
    <div class="section-title">
      <h2>Ostatnio Oglądane</h2>
    </div>
    <div class="section-content">
      <ul>
        <li>Technika cyfrowa</li>
        <li>Quiz three</li>
        <li>Unit three</li>
      </ul>
    </div>
    <div class="section-button">
      <button>Button 2</button>
    </div>
  </section>

  <section>
    <div class="section-title">
      <h2>Stwórz nową grupę</h2>
    </div>
    <div class="section-content">
      <ul>
        <li>+ dodaj członków</li>
        <li>+ dodaj administratora grupy</li>
        <li>+ dodaj zdjęcie grupy</li>
      </ul>
    </div>
  </section>

  <section>
    <div class="section-title">
      <h2>Wpisz kod, aby dołączyć do grupy</h2>
    </div>
    <div class="section-content">
      <ul>
        <li>Skąd wziąć kod?</li>
        <li>Jak stworzyć kod dla swojej grupy?</li>
      </ul>
    </div>
  </section>
</main>
